.editprofile-page{
    width: 70vw;
    /* margin: 0 auto; */
    position: absolute;
    left: 27vw;
    /* text-align: center; */
    /* margin-left: auto; */
    color: white;
}
.editprofile-form{
    margin-top: 30px;
    font-size: 20px;
    max-width: 50vw;
    
}